<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Course</title>
    </head>
    <body>
        <form method="POST" action="/chauffeur">
            <input type="hidden" name="id" value="<%= id %>"/>
            <p>Votre course est terminé !</p>
            <input type="submit" value="Retrournez à l'accueil">
        </form>
    </body>
</html>
