<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <title>Inscription</title>
  </head>
  <body>
    <h1>Inscription en tant que <%= type %> :</h1>
    <p>Votre inscription a été réussi !</p>
    <p>Cliquez <a href="/">ici</a> pour retourner vers la page d'accueil.</p>
  </body>
</html>
