<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Course</title>
    </head>
    <body>
        <form method="POST" action="/client">
            <input type="hidden" name="id" value="<%= id %>"/>
            <p>Malheureusement, il n'y a aucun chauffeur de disponible pour l'instant. Réessayer plus tard.</p>
            <input type="submit" value="Aller à la page d'accueille">
        </form>
    </body>
</html>
